this is the dashboard screen
<br>
<div>
{{data}}
</div>
<br>
<table>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{_id}}</td>
                <!--<td>{{this.lname}}</td>-->
            </tr>
        {{/each}}
    </tbody>
</table>